<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Cards Example</title>
<<<<<<< HEAD
    <style>
        
    </style>
=======
    <link rel="stylesheet" href="/css/home.css">
>>>>>>> 69b2d873a4d42502029bb3b3d440a4a5b9fb23dc
</head>

<body>
    <!-- Navigation Bar -->
   <%- include("../components/navbar.ejs") %>

   <div style="display: flex;flex-wrap: wrap;">
     <!-- Cards Section -->
<% blogs.forEach((blog)=>{ %>
    <div class="card" >
        <img src="<%- blog.image %>" alt="Card Image">
        <div class="title"><%- blog.title %></div>
<<<<<<< HEAD
        <a href="/blog/<%-blog._id%>">See More</a>
=======
        <a href="/blog/<%-blog._id  %>">See more</a>
>>>>>>> 69b2d873a4d42502029bb3b3d440a4a5b9fb23dc
    </div>
 <% }) %>

    
   </div>

  

</body>

</html>
